[tool.poetry]
name = "paperoni"
version = "0.1.7"
description = "Search for scientific papers"
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/mila-iqia/paperoni"
repository = "https://github.com/mila-iqia/paperoni"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
coleo = "^0.2.1"
tqdm = "^4.48.2"
requests = "^2.24.0"
blessed = "^1.17.9"
hrepr = "^0.2.4"
beautifulsoup4 = "^4.9.1"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
flake8 = "^3.8.3"
isort = "^5.3.2"

[tool.poetry.scripts]
paperoni = "paperoni.__main__:main"

[tool.poetry.plugins."paperoni.command"]
config = "paperoni.commands.command_config:command_config"
search = "paperoni.commands.command_search:command_search"
bibtex = "paperoni.commands.command_bibtex:command_bibtex"
researcher = "paperoni.commands.command_researcher:command_researcher"
collect = "paperoni.commands.command_collect:command_collect"
html = "paperoni.commands.command_html:command_html"

[tool.black]
line-length = 80

[tool.isort]
known_first_party = "paperoni"
known_third_party = "coleo,hrepr,blessed,tqdm,requests"
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
