[tool.poetry]
name = "paperoni"
version = "0.1.8"
description = "Search for scientific papers"
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/mila-iqia/paperoni"
repository = "https://github.com/mila-iqia/paperoni"
license = "MIT"

[tool.poetry.dependencies]
python = "3.10"
coleo = {extras = ["yaml"], version = "^0.3.1"}
tqdm = "^4.48.2"
requests = "^2.24.0"
blessed = "^1.17.9"
hrepr = "^0.4.0"
beautifulsoup4 = "^4.9.1"
pydantic = "^1.9.1"
SQLAlchemy = "^1.4.39"
ovld = "^0.3.2"
questionary = "^1.10.0"
openreview-py = "^1.5.2"
rich = "^12.5.1"

[tool.poetry.dev-dependencies]
black = ">= 19.10b0"
flake8 = ">= 3.8.3"
isort = ">= 5.3.2"
pytest = ">= 6.1.2"
pytest-cov = ">= 2.10.1"

[tool.poetry.scripts]
mpap = "paperoni.cli:main"

[tool.black]
line-length = 80

[tool.isort]
known_first_party = "paperoni"
known_third_party = "coleo,hrepr,blessed,tqdm,requests"
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
