@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* General */

body {
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    font-size: 16px;
    font-family: "Work Sans";
}

/* Header */

.navh {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navv {
    display: inline-flex;
    flex-direction: column;
}

.header {
    justify-content: space-between;
    border-bottom: 3px solid #662E7D;
    margin-bottom: 10px;
    padding: 5px;
}

.header img {
    display: inline-block;
    vertical-align: center;
    height: 40px;
    padding-right: 20px;
}

.header .title {
    height: 100%;
    font-size: 30px;
}

.ball {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    color: white;
    background: blue;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    line-height: 1em;
    text-decoration: none;
}

.helpbox {
    padding: 10px;
    margin: 10px;
    background: #ee6;
}

/* Index */

#index table {
    border-collapse: collapse;
}
#index td {
    padding: 5px;
    vertical-align: top;
}
#index td.url {
    color: white;
    background: #662E7D;
    min-width: 50px;
}
#index td.url > a:hover {
    color: #aaa;
}
#index td.url > a {
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
}

/* General interface */

.search-form .main-inputs {
    display: flex;
    flex-flow: row wrap;
}
.form-input {
    width: 50%;
}
.form-input label {
    display: inline-block;
    width: 100px;
}
.form-input input[type="date"], .form-input input[type="text"], .form-input select {
    width: calc(100% - 120px);
}
input[type="text"], input[type="date"], select {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.form-flag {
    width: 150px;
}
.form-flag {
    padding: 5px;
    margin-right: 10px;
}
.form-radios {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.search-extra {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 5px;
}
.search-extra > * {
    margin-right: 10px;
}
.copy-link, .report-link {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.copy-link {
    background: #eea;
}
.report-link {
    background: violet;
}
.report-link a {
    color: white;
    text-decoration: none;
}
.copiable {
    display: none;
}
.count-area .count {
    display: inline-block;
    width: 40px;
    text-align: right;
}
.wait-area {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 50px;
    font-size: 20px;
}
.wait-area img {
    height: 30px;
    width: 30px;
}

.validation-button {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 150px;
    text-align: center;
}
.validation-button input[type="radio"] {
    appearance: none;
    position: absolute;
    left: -0.5em;
    top: -0.5em;
    width: 150px;
    height: 2em;
    background: lightgrey;
    border-radius: 5px;
    z-index: -10;
}
.validation-button input[type="radio"][value="valid"]:checked {
    background: lightgreen;
}
.validation-button input[type="radio"][value="invalid"]:checked {
    background: lightcoral;
}
.validation-button input[type="radio"][value="unknown"]:checked {
    background: lightsalmon;
}

.validation-button input[type="radio"][class="log-button"] {
    height: 3.5em;
}
.validation-button input[type="radio"][class="log-button"]:checked {
    background: lightgreen;
}


table.researchers {
    border-collapse: collapse;
    width: 100%;
}

table.researchers tr:hover {
    background: #ddd;
    cursor: pointer;
}

table.researchers th, table.researchers td {
    padding-left: 5px;
    padding-right: 5px;
}

table.researchers th {
    color: white;
    background: #662E7D;
    text-align: left;
}

table.researchers td {
    border: 1px solid black;
}

/* Papers */

.paper {
    position: relative;
}

.paper .content {
    margin: 5px;
    padding: 10px;
    overflow: auto;
    border-top: 2px solid black;
}

.paper.validation .content {
    border-left: 40px solid black;
}

.paper .band {
    position: absolute;
    font-size: 25px;
    z-index: 1000;
    color: white;
    left: 15px;
    top: 8px;
}

.paper .author {
    display: inline-flex;
    flex-direction: column;
    /* background: #f0f0f0; */
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    max-width: 150px;
    white-space: nowrap;
    overflow: scroll;
}

.paper.excellent .content  {
    border-color: limegreen;
}

.paper.good .content  {
    border-color: blue;
}

.paper.ok .content  {
    border-color: orange;
}

.paper.poor .content  {
    border-color: orangered;
}

.paper.unknown .content  {
    border-color: #bbb;
    opacity: 80%;
}

.paper .author.excellent {
    background: limegreen;
}

.paper .author.good {
    background: #aaf;
}

.paper .author.known {
    background: #ddf;
}

.paper .author .affiliation {
    font-size: 13px;
}

.paper .excerpt::before {
    content: "Excerpt: ";
    font-weight: bold;
}

.paper .excerpt {
    padding: 5px;
    margin: 5px;
    background: #eea;
}

.venue > * {
    margin-right: 5px;
}
.venue-status {
    color: #555;
}
.venue-status:before {
    content: "[";
}
.venue-status:after {
    content: "]";
}
.venue-date {
    font-weight: bold;
    color: green;
    margin-right: 5px;
}
.venue-name {
    font-weight: bold;
    color: purple;
}

.extra {
    font-size: 14px;
}
.link {
    padding: 2px;
    background-color: #eef;
    margin-right: 5px;
}

/* Other, to clean up */

.authorinput{
    width: 20%;
    margin: 5px;
}
.roleinput{
    width: 20%;
    margin: 5px;
}

.area-authorlink{
    /* width: 1300px; */
    outline: 1px solid #555;
}

.down {
    margin-top: 20px;
    padding-bottom: 1px;
    outline: 1px solid #555;
}
.error, #errormessage {
    color: red;
    font-size: 14px;
    margin: 5px;
}
.align-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.author-column{
    position: relative;
    float: left;
    width: 80%;
    height: 30px;
    margin: auto;   
}

.author-column:hover, .column-mid-link:hover{
    background-color: #eef;
    cursor: pointer;
}
.author-column:hover{
    background-color: #eef;
    cursor: pointer;
}
.column-mid{
    position: relative;
    float: left;
    width: 25%;
    height: 30px;
    margin: auto;
}
.column-mid-link{
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    margin: auto;
    text-align: center;
}
.addform{
    margin: auto;
}

form{
    display: block;
    margin-left: 20px;
}

.authorarea{
    border: 1px solid green;
    height: 500px;
    margin: 10px;
}
.papersarea{
height: 100%;
width: 70%;
overflow: auto;
float: right;
}
.authornamearea{
height: 90%;
width: 25%;
float: left;
margin: 10px;
position: relative;
}
.authoridbuttonarea{
    position: absolute;
    width: 150px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

form.update-file textarea {
    display: block;
    width: 100%;
    height: 500px;
}

div.log-stream textarea {
    display: block;
    width: 100%;
    height: 500px;
}
