paperoni:
  cache_path: ../cache
  data_path: ../data
  mailto: _@mila.quebec
  api_keys:
    gemini: _
    scraperapi: _
    paperoni_v2: _
    openreview: _
  fetch:
    $class: RulesFetcher
    simultaneous:
      "*": 3
    rules:
      "^https://api.ror.org/": standard
      "^https://export.arxiv.org/": standard
      "^https://api.crossref.org/": cached
      "^https://api.semanticscholar.org/": cached
      "^https://api.openalex.org/": cached
      "^https://api.datacite.org/": cached
      "^https://api.unpaywall.org/": cached
      "^https://www.biorxiv.org/": sequence
      ".*": sequence
    fetchers:
      standard:
        $class: HTTPXFetcher
        user_agent: chrome
      cached:
        $class: CachedFetcher
        cache_path: ${paperoni.cache_path}/requests-cache.sql
        expire_after: 6d
        user_agent: chrome
      banned:
        $class: BannedFetcher
      sequence:
        $class: SequenceFetcher
        fetchers:
        - $class: HTTPXFetcher
          user_agent: chrome
        - $class: CloudFlareFetcher
          user_agent: chrome
        - $class: ScraperAPIFetcher
          cache_path: ${paperoni.cache_path}/scraper-cache.sql
          expire_after: 100d
          api_key: ${paperoni.api_keys.scraperapi}
  focuses: focuses.yaml
  autofocus:
    author:
      score: 1
      institution_score_threshold: 1
      threshold: 1
  autovalidate:
    score_threshold: 10.0
  discovery:
    openreview:
      api_key: ${paperoni.api_keys.openreview}
    scrape:
      urls:
        - https://dadelani.github.io/publications
    v2:
      $class: paperoni.discovery.paperoni_v2:PaperoniV2
      endpoint: https://paperoni.mila.quebec
      token: ${paperoni.api_keys.paperoni_v2}
      cache: ${paperoni.data_path}/paperoniv2.json
  refine:
    prompt:
      $class: paperoni.prompt:GenAIPrompt
      model: gemini-2.5-pro
      api_key: ${paperoni.api_keys.gemini}
  llm_process_affiliation:
    extra_instructions:
      $include:
        path: affiliation_instructions.md
        format: text
  work_file: ${paperoni.data_path}/work.json
  collection:
    $class: paperoni.collection.filecoll:FileCollection
    file: ${paperoni.data_path}/collection.json
  server:
    host: localhost
    port: 8000
    protocol: http
    max_results: 10000
    auth:
      server_metadata_url: https://accounts.google.com/.well-known/openid-configuration
      secret_key: _
      client_id: _
      client_secret: _
      client_kwargs:
        scope: openid email
        prompt: select_account
      force_user:
        email: __admin__
      capabilities:
        guest_capabilities: []
        user_overrides:
          __admin__: [admin]
        user_file: ${paperoni.data_path}/permissions.yaml
        graph:
          user_management: []
          user: []
          search: [user]
          validate: [search]
          dev: [validate]
