paperoni:
  discovery:
    semantic_scholar:
      class: "paperoni.discovery.semantic_scholar:SemanticScholar"
    openreview:
      class: "paperoni.discovery.openreview:OpenReviewDispatch"
      api_versions: [2, 1]
