paperoni:
  cache_path: ../cache
  data_path: ../data
  mailto: _@mila.quebec
  api_keys:
    gemini: _
    scraperapi: _
  fetch:
    $class: RulesFetcher
    rules:
      "^https://export.arxiv.org/": standard
      "^https://api.crossref.org/": cached
      "^https://api.semanticscholar.org/": cached
      "^https://www.biorxiv.org/": sequence
      ".*": sequence
    fetchers:
      standard:
        $class: RequestsFetcher
        user_agent: chrome
      cached:
        $class: CachedFetcher
        cache_path: ${paperoni.cache_path}/requests-cache.sql
        expire_after: 6d
        user_agent: chrome
      banned:
        $class: BannedFetcher
      sequence:
        $class: SequenceFetcher
        fetchers:
        - $class: CloudFlareFetcher
          user_agent: chrome
        - $class: ScraperAPIFetcher
          cache_path: ${paperoni.cache_path}/scraper-cache.sql
          expire_after: 100d
          api_key: ${paperoni.api_keys.scraperapi}
  focuses:
    $include:
    - focuses.yaml
    - autofocuses.yaml
  autofocus:
    author:
      score: 1
      institution_score_threshold: 1
  discovery:
    scrape:
      urls:
        - https://dadelani.github.io/publications
  refine:
    prompt:
      $class: paperoni.prompt:GenAIPrompt
      model: gemini-2.5-pro
      api_key: ${paperoni.api_keys.gemini}
  llm_process_affiliation:
    extra_instructions:
      $include:
        path: affiliation_instructions.md
        format: text
  work_file: ${paperoni.data_path}/work.json
  collection:
    $class: paperoni.collection.filecoll:FileCollection
    file: ${paperoni.data_path}/collection.json
  embedding:
    $class: paperoni.embed.cfg:Embedding
    model: gemini-embedding-001
    api_key: ${paperoni.api_keys.gemini}
  server:
    host: localhost
    port: 8000
    protocol: http
    max_results: 10000
    process_pool_executor:
      max_workers: 4
    auth:
      server_metadata_url: https://accounts.google.com/.well-known/openid-configuration
      secret_key: _
      client_id: _
      client_secret: _
      client_kwargs:
        scope: openid email
        prompt: select_account
      force_user:
        email: __admin__
      capabilities:
        user_overrides:
          __admin__: [admin]
        user_file: ${paperoni.data_path}/permissions.yaml
        graph:
          user_management: []
          user: []
          search: []
          validate: [search]
          dev: []
  mcp:
    api_client:
      $class: paperoni.mcp.client:PaperoniAPIClient
      endpoint: ${paperoni.server.protocol}://${paperoni.server.host}:${paperoni.server.port}