paperoni:
  cache_path: ../cache
  data_path: ../data
  mailto: _@mila.quebec
  api_keys:
    gemini: _
    scraperapi: _
  fetch:
    $class: RulesFetcher
    rules:
      "^https://export.arxiv.org/": standard
      "^https://api.crossref.org/": cached
      "^https://api.semanticscholar.org/": cached
      "^https://www.biorxiv.org/": sequence
      ".*": sequence
    fetchers:
      standard:
        $class: RequestsFetcher
        user_agent: chrome
      cached:
        $class: CachedFetcher
        cache_path: ${paperoni.cache_path}/requests-cache.sql
        expire_after: 6d
        user_agent: chrome
      banned:
        $class: BannedFetcher
      sequence:
        $class: SequenceFetcher
        fetchers:
        - $class: CloudFlareFetcher
          user_agent: chrome
        - $class: ScraperAPIFetcher
          cache_path: ${paperoni.cache_path}/scraper-cache.sql
          expire_after: 100d
          api_key: ${paperoni.api_keys.scraperapi}
  focuses:
    $include:
    - focuses.yaml
    - autofocuses.yaml
  autofocus:
    author:
      score: 1
      threshold: 1
  refine:
    prompt:
      $class: GenAIPrompt
      model: gemini-2.5-pro
      api_key: ${paperoni.api_keys.gemini}
  collection:
    $class: paperoni.collection.filecoll:FileCollection
    file: ${paperoni.data_path}/collection.yaml
