{% extends "main.html" %}

{% block title %}Operate{% endblock %}

{% block page_title %}Operate{% endblock %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script>
{% endblock %}

{% block content %}
<div class="operate-container">
    <div class="operate-content">
        <form class="operate-form search-form" id="operateForm">
            {% include "_search_form.html" %}
            <div class="form-row">
                <div class="form-group operate-editor-group">
                    <div class="operate-blocks-bar">
                        <select id="operateBlocksSelect"></select>
                        <button type="button" id="operateBlockUpdate" class="btn-block-update">Update</button>
                        <button type="button" id="operateBlockNew" class="btn-block-new">New</button>
                        <button type="button" id="operateBlockClone" class="btn-block-clone">Clone</button>
                        <button type="button" id="operateBlockDelete" class="btn-block-delete">Delete</button>
                    </div>
                    <div id="operationEditor" class="monaco-editor-container"></div>
                </div>
            </div>
        </form>

        <div id="operateResultsContainer"></div>
    </div>

    <footer class="operate-footer">
        <button type="button" id="operateCheckBtn" class="btn-primary">Check</button>
    </footer>
</div>
{% endblock %}

{% block scripts %}
<script type="module">
    import { operatePapers } from '/assets/operate.js';
    operatePapers();
</script>
{% endblock %}
