{% extends "main.html" %}

{% block title_key %}Operate{% endblock %}
{% block title %}Operate{% endblock %}
{% block page_title %}Operate{% endblock %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js" integrity="sha384-SF/kPhqG3NMxqsYAbQqHkdF53WQx8yTkY0Ys+M+ayeC20QNujPyyxIuUEdEf0eG/" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="operate-container">
    <div class="operate-content">
        <form class="operate-form search-form" id="operateForm">
            {% include "_search_form.html" %}
            <div class="form-row">
                <div class="form-group operate-editor-group">
                    <div class="operate-blocks-bar">
                        <select id="operateBlocksSelect"></select>
                        <button type="button" id="operateBlockUpdate" class="btn-block-update"><loc>Update</loc></button>
                        <button type="button" id="operateBlockNew" class="btn-block-new"><loc>New</loc></button>
                        <button type="button" id="operateBlockClone" class="btn-block-clone"><loc>Clone</loc></button>
                        <button type="button" id="operateBlockDelete" class="btn-block-delete"><loc>Delete</loc></button>
                    </div>
                    <div id="operationEditor" class="monaco-editor-container"></div>
                </div>
            </div>
        </form>

        <div id="operateResultsContainer"></div>
    </div>

    <footer class="operate-footer">
        <div id="operateCounts" class="operate-counts"></div>
        <div class="operate-footer-buttons">
            <button type="button" id="operateSimulateBtn" class="btn-primary"><loc>Simulate</loc></button>
            <button type="button" id="operateSuggestBtn" class="btn-apply" disabled><loc>Suggest</loc></button>
            <button type="button" id="operateApplyBtn" class="btn-apply" disabled><loc>Apply</loc></button>
        </div>
    </footer>
</div>
{% endblock %}

{% block scripts %}
<script type="module" nonce="{{ csp_nonce }}">
    import { operatePapers } from '/assets/operate.js';
    operatePapers();
</script>
{% endblock %}
