{% extends "main.html" %}

{% block title_key %}Available Reports{% endblock %}
{% block title %}Available Reports{% endblock %}
{% block page_title %}Available Reports{% endblock %}

{% block content %}
<div id="report-list-container">
    {% if logs %}
        <ul class="report-list">
            {% for log in logs %}
                <li class="report-list-item">
                    <a href="{{ log.url }}" class="report-link">{{ log.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-reports"><loc>No reports available.</loc></p>
    {% endif %}
</div>
{% endblock %}
