{% extends "main.html" %}

{% block title %}Search Papers{% endblock %}

{% block page_title %}Search Papers{% endblock %}

{% block content %}
<div class="search-container">
    <form class="search-form" id="searchForm">
        {% include "_search_form.html" %}
    </form>

    <div id="resultsContainer"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="module">
    import { searchPapers } from '/assets/search.js';
    searchPapers({{ is_validator|tojson }}, {{ validation_buttons|tojson }}, {{ show_scores|default(false)|tojson }}, {{ use_dev_mode|default(false)|tojson }});
</script>
{% endblock %}
