body {
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    font-size: 16px;
}
input{
    margin-top: 5px;
    padding: 5px;
    width: 400px;
}
.authorinput{
    width: 16.66%;
    margin: 5px;
}
.roleinput{
    width: 16.66%;
    margin: 5px;
}
.area{
    outline: 1px solid #555;
}
.area-authorlink{
    width: 1400px;
    outline: 1px solid #555;
}
.up:after {
    content: "";
    display: table;
    clear: both;
  }
.column{
    outline: 1px solid #555;
    float: left;
    width: 16.66%;
    height: 20px;
    margin: auto;
    text-align: center;
}
.mid{
    outline: 1px solid #555;
    width:100%;
    height: 600px;
    overflow: auto;
}
.down{
    width: 100%;
    height: 120px;
    outline: 1px solid #555;
}
#errormessage{
    color: red;
    font-size: 14px;
    margin: 5px;
}
.align-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.author-column{
    position: relative;
    float: left;
    width: 66.66%;
    height: 30px;
    margin: auto;   
}

.author-column:hover, .column-mid-link:hover{
    background-color: #eef;
    cursor: pointer;
}
.author-column:hover{
    background-color: #eef;
    cursor: pointer;
}
.column-mid{
    position: relative;
    float: left;
    width: 25%;
    height: 30px;
    margin: auto;
}
.column-mid-link{
    position: relative;
    float: left;
    width: 16.66%;
    height: 30px;
    margin: auto;
    text-align: center;
}
.addform{
    margin: auto;
}

.calender{
    width: 120px;
    margin-left: 10px;
}
form{
    display: block;
    margin-left: 20px;
}
.paper {
    margin: 5px;
    padding: 10px;
    overflow: auto;
}
.validationDiv{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
}

.extra {
    font-size: 14px;
}
.title {
    font-weight: bold;
}
.venue > * {
    margin-right: 5px;
}
.venue-status {
    color: #555;
}
.venue-status:before {
    content: "[";
}
.venue-status:after {
    content: "]";
}
.venue-date {
    font-weight: bold;
    color: green;
    margin-right: 5px;
}
.venue-name {
    font-weight: bold;
    color: purple;
}
.affiliations {
    padding-left: 20px;
}
.author-affiliation {
    font-size: 12px;
}
.keywords {
    font-size: 14px;
    color: #888;
}
.link {
    padding: 2px;
    background-color: #eef;
    margin-right: 5px;
}
.latest-on {
    font-weight: bold;
}
.area {
    border: 1px solid black;
}
.authorarea{
    border: 1px solid green;
    height: 500px;
    margin: 10px;
}
.papersarea{
height: 100%;
width: 70%;
overflow: auto;
float: right;
}
.authornamearea{
height: 90%;
width: 25%;
float: left;
margin: 10px;
position: relative;
}
.authoridbuttonarea{
    position: absolute;
    width: 150px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.button{
    background-color: green;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin-bottom:10px;
    margin: 5px;
}

.invalidate{
    background-color: rgb(172, 4, 4);
}

.notavailable{
    background-color: rgb(85, 85, 85);
}

#seeFlagged{
    float: right;
    text-align: center;
    width: 300px;
    margin: 5px 10px 5px 10px;
}
