body {
    margin: auto;
    margin-top: 10px;
    width: 800px;
    font-size: 16px;
}
input{
    padding: 5px;
    width: 400px;
    margin-left: 10px;
}
.paper {
    margin: 5px;
    
    padding: 10px;
    overflow: auto;
}
.validationDiv{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
}

.extra {
    font-size: 14px;
}
.title {
    font-weight: bold;
}
.venue > * {
    margin-right: 5px;
}
.venue-status {
    color: #555;
}
.venue-status:before {
    content: "[";
}
.venue-status:after {
    content: "]";
}
.venue-date {
    font-weight: bold;
    color: green;
    margin-right: 5px;
}
.venue-name {
    font-weight: bold;
    color: purple;
}
.affiliations {
    padding-left: 20px;
}
.author-affiliation {
    font-size: 12px;
}
.keywords {
    font-size: 14px;
    color: #888;
}
.link {
    padding: 2px;
    background-color: #eef;
    margin-right: 5px;
}
.latest-on {
    font-weight: bold;
}
.area {
    border: 1px solid green;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button{
    background-color: green;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin-bottom:10px;
    margin: 5px;
}

.invalidate{
    background-color: rgb(172, 4, 4);
}
