body {
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    font-size: 16px;
}
input{
    margin-top: 5px;
    padding: 5px;
    width: 400px;
}
.authorinput{
    width: 24.9%;
    margin: 5px;
}
.roleinput{
    width: 20%;
    margin: 5px;
}
.area{
    border: #555 2px solid;
}
.up:after {
    content: "";
    display: table;
    clear: both;
  }
.column{
    border: #555 0.5px solid;
    float: left;
    width: 24.8%;
    height: 20px;
    margin: auto;
}
.mid{
    border: #555 0.5px solid;
    width:100%;
    height: 600px;
    overflow: auto;
}
.down{
    width: 100%;
    height: 120px;
    border: #555 0.5px solid;
}
#errormessage{
    color: red;
    font-size: 14px;
    margin: 5px;
}
.column-name{
    margin: 45%;
}
.align-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.author-column{
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    margin: auto;
    
}
.author-column:hover{
    background-color: #eef;
    cursor: pointer;
}
.column-mid{
    position: relative;
    float: left;
    width: 25%;
    height: 30px;
    margin: auto;
}
.addform{
    margin: auto;
}

.calender{
    width: 120px;
    margin-left: 10px;
}
form{
    display: block;
    margin-left: 20px;
}
.paper {
    margin: 5px;
    padding: 10px;
    overflow: auto;
}
.validationDiv{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
}

.extra {
    font-size: 14px;
}
.title {
    font-weight: bold;
}
.venue > * {
    margin-right: 5px;
}
.venue-status {
    color: #555;
}
.venue-status:before {
    content: "[";
}
.venue-status:after {
    content: "]";
}
.venue-date {
    font-weight: bold;
    color: green;
    margin-right: 5px;
}
.venue-name {
    font-weight: bold;
    color: purple;
}
.affiliations {
    padding-left: 20px;
}
.author-affiliation {
    font-size: 12px;
}
.keywords {
    font-size: 14px;
    color: #888;
}
.link {
    padding: 2px;
    background-color: #eef;
    margin-right: 5px;
}
.latest-on {
    font-weight: bold;
}
.area {
    border: 1px solid black;
}
#authorpapersid{
    border: 1px solid green;
    height: 400px;
    overflow: auto;
}
input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.button{
    background-color: green;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin-bottom:10px;
    margin: 5px;
}

.invalidate{
    background-color: rgb(172, 4, 4);
}

#seeFlagged{
    float: right;
    text-align: center;
    width: 300px;
    margin: 5px 10px 5px 10px;
}
